<?xml version="1.0" encoding="UTF-8"?>
<included>
    <variable name="LOG_FILE" value="/var/log/spring.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz}</fileNamePattern>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
</included>
